<nav>
  <h1><a href="{{ site.baseurl }}/index.html">CS 7680</a></h1>
  <strong>Northeastern University</strong>
  <br />College of Computer and Information Science
  <!-- <div class="grey">Special Topics in Computer Systems:</div> -->
  <!-- Programming Models for Distributed Computation -->
  <div id="bio">
    <p>
      <strong>Instructor:</strong> Heather Miller
      <br /><em style="font-size: 14px; color: grey;">heather at ccs dot neu dot edu</em>
      <br/>Fall 2016
      <br/>Thursdays 6pm-9pm
      <br/>Behrakis Center Room 204
    </p>
  </div>
  <!-- <div id="social"></div> -->
  <div class="sidebar-links">
    <a href="{{ site.baseurl }}/index.html#announcements">Announcements</a>
    <br/><a href="{{ site.baseurl }}/index.html#schedule">Schedule</a>
    <br/><a href="{{ site.baseurl }}/reading-papers.html">Reading Research Papers</a>
    <br/><a href="{{ site.baseurl }}/weekly-tasks.html">Weekly Tasks</a>
    <br/><a href="{{ site.baseurl }}/final-project.html">Final Project</a>
  </div>
</nav>
